In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
import re

In [23]:
def load_data(path):
    df = pd.read_csv(r"C:\Users\Lenovo\Desktop\GitHub\Data QA & Cleaning Framework Using Python\sample_data.csv")
    return df

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2037 entries, 0 to 2036
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        2037 non-null   int64
 1   customer_email  2037 non-null   object
 2   order_date      2037 non-null   object
 3   merchant        2037 non-null   object
 4   amount          2037 non-null   float64
 5   status          2037 non-null   object
 6   notes           2037 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 111.5+ KB

In [11]:
df.describe()

          order_id        amount
count  2037.000000   2037.000000
mean   2019.000000   8762.078667
std     588.175569   5046.940807
min    1001.000000      9.990000
25%    1510.000000   4394.519333
50%    2019.000000   8762.078667
75%    2528.000000  13129.638000
max    3037.000000  17497.197330

In [27]:
def standardize_emails(df):
    # Basic email normalization: lowercase and strip spaces
    df['customer_email'] = df['customer_email'].astype(str).str.lower().str.strip()
    # Mark obviously invalid emails
    df['email_valid'] = df['customer_email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.[a-zA-Z]{2,}$', na=False)
    return df

def fill_missing_amounts(df):
    # Convert amount to numeric and fill missing with 0 (flagged later)
    df['amount'] = pd.to_numeric(df['amount'], errors='coerce')
    df['amount_filled'] = df['amount'].fillna(0)
    df['amount_missing_flag'] = df['amount'].isna()
    return df

def standardize_status(df):
    df['status'] = df['status'].astype(str).str.lower().str.strip()
    return df

def run_all_cleaning(path):
    df = load_data(path)
    df = standardize_emails(df)
    df = fill_missing_amounts(df)
    df = standardize_status(df)
    return df

if __name__ == '__main__':
    import sys
    df = run_all_cleaning(sys.argv[1] if len(sys.argv)>1 else 'sample_data.csv')
    print(df.head())

   order_id          customer_email        order_date merchant  amount  \
0      1001    ivy.foster@gmail.com  01-11-2025 09:15    ShopA   49.99
1      1002  gabby.parker@gmail.com  02-11-2025 14:05    ShopB   19.50
2      1003   ryan.foster@gmail.com  02-11-2025 14:07    ShopA   15.00
3      1004   quinn.evans@gmail.com  03-11-2025 11:20    ShopC   25.00
4      1005  olivia.davis@gmail.com  04-11-2025 08:45    ShopB  120.00

      status                                notes  email_valid  amount_filled  \
0  completed  Receipt: Order #1001; card ****1234         True          49.99
1  completed             Order confirmation email         True          19.50
2   refunded       Refund processed on 2025-11-03         True          15.00
3    pending              missing amount in email         True          25.00
4  completed        Large purchase; promo applied         True         120.00

   amount_missing_flag
0                False
1                False
2                False
3                False
4                False

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2037 entries, 0 to 2036
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             2037 non-null   int64
 1   customer_email       2037 non-null   object
 2   order_date           2037 non-null   object
 3   merchant             2037 non-null   object
 4   amount               2037 non-null   float64
 5   status               2037 non-null   object
 6   notes                2037 non-null   object
 7   email_valid          2037 non-null   bool
 8   amount_filled        2037 non-null   float64
 9   amount_missing_flag  2037 non-null   bool
dtypes: bool(2), float64(2), int64(1), object(5)
memory usage: 131.4+ KB